[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
tiktoken = "*"
openai = "*"
isort = "*"
streamlit = "*"
black = "*"
python-dotenv = "*"
faiss-cpu = "*"
langchain = "*"
docarray = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
